@model EdithTour.Models.Customer
@{
    Layout = null;
}
<form action="/Account/General" method="post" enctype="multipart/form-data">
    <div class="card-body media align-items-center">
        @{
            string imageURL = "~\\Images\\" + Model.Avatar;
            <img src="@Url.Content(imageURL)" id="image" alt=""
                 class="d-block">
        }
        <div class="media-body ml-4">
            <label class="btn btn-primary">
                Upload new photo
                <input type="file" id="imageFiles" onchange="chooseFile(this)" name="imageFiles" class="account-settings-fileinput">
            </label> &nbsp;
            <input type="reset" class="btn btn-warning md-btn-flat" value="Reset">
            <div class="text-light small mt-1">Allowed JPG, GIF, JPEG or PNG. Max size of 800K</div>
        </div>
    </div>
    <hr class="border-light m-0">
    <div class="card-body">
        <div class="form-group">
            <label class="form-label">Username</label>
            <input type="text" class="form-control mb-1" readonly value="@Model.Username">
        </div>
        <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="Name" value="@Model.Name">
        </div>
        <div class="form-group">
            <label class="form-label">E-mail</label>
            <input type="text" class="form-control mb-1" name="Email" value="@Model.Email">
        </div>
        <div class="form-group">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" name="Phone" value="@Model.Phone">
        </div>
        <div class="form-group">
            <label class="form-label">Brithday</label>
            <input type="date" class="form-control" name="Birthday" value="@Model.Birthday">
        </div>
        <div class="form-group">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" name="Address" value="@Model.Address">
        </div>
        <div class="form-group mt-2">
            <input type="submit" class="btn btn-warning" name="submit" value="Save" />
        </div>
    </div>
</form>
